@model IEnumerable<EquipmentRequestModel>
@{
    ViewData["Title"] = "Available Equipment";
    @* int counter = 0; *@
}

<div class="text-center">
    <h1 class="display-4">Available Equipment</h1>
</div>
