@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FAST Equipment Tool</h1>
    <p>FAST students and professors can request to borrow IT equipment through this page.</p>
</div>
